BOT_TOKEN=123456:Your-TokEn_ExaMple
ADMINS=123456,654321
USE_REDIS=True
REDIS_HOST=redis_cache
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=your_secure_redis_password

FILES_URL=http://<YOUR_SERVER_IP>:8081/files
